:host {
  display: table-row;

  vertical-align: inherit;
  border: inherit;

  & > th {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: inherit;
    padding: 0.25rem;

    & > .clickable {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
