<menu class="gup-tabbed-tabs" role="tablist">
  <button
    *ngFor="let tabName of tabNames; index as i"
    role="tab"
    [id]="tabName"
    [attr.aria-selected]="!tabIsHidden(i)"
    [attr.aria-controls]="tabName + '-tab'"
    (click)="selectTab($event, tabName)"
  >
    {{ tabName }}
  </button>
</menu>

<div class="gup-tabbed-body">
  <ng-container *ngFor="let tab of tabs; index as i">
    <section
      [style.display]="tabIsHidden(i) ? 'none' : 'block'"
      role="tabpanel"
      [attr.aria-labelledby]="tabNames[i]"
      [id]="tabNames[i] + '-tab'"
    >
      <ng-container [ngTemplateOutlet]="tab"></ng-container>
    </section>
  </ng-container>
</div>
