:host {
  display: block;
  border: solid 1px;
  border-radius: 5px;

  & > [role="tablist"] {
    display: flex;
    flex-direction: row;
    padding: 0.1em 0.2em 0 0.2em;
    border-bottom: solid 0.1em;
    margin-bottom: -0.1em;
    margin-top: 0.1em;

    // & > [role="tab"] {
    //   see `tab.component.scss`
    // }
  }
  & > .gup-tabbed-body {
    padding: 5px;
  }
}
