:host {
  & > dialog {
    & > form {
      display: flex;
      flex-direction: column;

      & > * {
        margin-bottom: 0.2em;
      }

      input {
        &.ng-invalid,
        &:invalid {
          box-shadow: inset red 0 0 5px, red 0 0 5px;
          outline: 0;
        }
      }

      gup-tabbed {
        min-width: 320px;
      }
    }

    & > .progress-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      progress {
        margin-right: 2ch;
      }

      abbr {
        &[title="undefined"] {
          &::after {
            content: "...";
          }
        }
      }
    }
  }
}
