:host {
  display: table-row;
  vertical-align: inherit;
  border: inherit;

  & > td,
  & > th {
    white-space: nowrap;
    text-overflow: ellipsis;
    border: inherit;

    &.align-right {
      text-align: right;
    }
  }
}
