:host {
  display: flex;

  & > table {
    flex: auto;

    border-collapse: collapse;

    & > thead,
    & > tbody {
      border-color: var(--structural-color);
      border-width: 1px;
      border-style: solid;
    }

    & > thead > tr {
      border: inherit;
      & > th {
        white-space: nowrap;
        border: inherit;
        border-width: 3px;
        padding: 1px;
        padding-left: 1ch;

        cursor: pointer;
        user-select: none;

        &[draggable="true"] {
          cursor: move;

          &.drag-hover {
            // background: orange;
            background: var(--secondary-color);
            box-shadow: inset 0 0 15px var(--background-color);
          }
        }

        &::after {
          content: " ";
          display: inline-block;
          line-height: 1;
          width: 1ch;
          margin-left: -1ch;
        }

        &[aria-sort="ascending"] {
          &::after {
            content: "⇓";
          }
        }
        &[aria-sort="descending"] {
          &::after {
            content: "⇑";
          }
        }
      }
    }
  }
}
