form {
  .sign-in-wrapper {
    display: flex;
    align-items: center;

    & > span {
      padding-right: 0.3em;
    }

    & > button {
      display: flex;
      align-items: center;

      padding: 10px;
      font-size: var(--main-font-size);
      border-radius: 4px;

      color: rgba(0, 0, 0, 0.54);
      background-color: white;

      img {
        width: 18px;
        height: 18px;
      }

      // span {}
    }
  }
}
