<table>
  <thead>
    <tr>
      <th
        *ngFor="let header of headerEntries"
        role="columnheader"
        [id]="header.headerId"
        [attr.data-key]="header.key"
        [attr.aria-sort]="
          header.sortOrder ? header.sortOrder?.toLowerCase() : 'none'
        "
        (click)="!disabled && changeSort.emit(header.key)"
        gupDraggableHeader
        [draggable]="!disabled && header.draggable && allowColumnReordering"
        [dragKey]="header.draggable ? header.key : undefined"
        (moveHeaderFromTo)="moveHeaderFromTo.emit($event)"
      >
        {{ header.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <gup-file-row
      role="row"
      *ngFor="let file of fileData"
      [cellComponents]="cellComponents"
      [fileEntity]="file"
      [publicRoot]="publicRoot"
      (selectedFile)="selectedFile.emit($event)"
    ></gup-file-row>
  </tbody>
</table>
