/**
 * global style shims:
 *  1. dialog: simulates Chrome's dialog
 */
@mixin global {
  dialog {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border-width: initial;
    border-style: solid;
    border-color: var(--secondary-color);
    border-image: initial;
    border-radius: var(--border-radius);
    padding: 1em;

    color: var(--primary-color);
    background-color: var(--background-color);

    z-index: 7000;

    &:not([open]) {
      display: none;
    }

    &[open] ~ .dialog-overlay {
      z-index: 6999;
      background-color: rgba(0, 0, 0, 0.7);

      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
