@mixin global {
  :root {
    --border-radius: 1em;
  }

  input,
  button,
  select,
  textarea {
    color: var(--input-color);
    background-color: var(--input-background-color);
    border: none;
    border-radius: 0.5em;
  }

  input {
    &::-webkit-input-placeholder {
      color: var(--input-color);
      opacity: 0.4;
    }
    &::-moz-placeholder {
      color: var(--input-color);
      opacity: 0.4;
    }
  }

  form.flex-form {
    display: flex;
    flex-direction: column;

    & > * {
      margin-bottom: 0.2em;
    }

    input {
      &.ng-invalid,
      &:invalid {
        box-shadow: inset red 0 0 5px, red 0 0 5px;
        outline: 0;
      }
    }
  }
}
