<div class="gup-file-manager-toolbar">
  <button (click)="refresh()" [disabled]="!ready || loading">Refresh</button>
  <div *ngIf="fileManager.errorMessage">{{ fileManager.errorMessage }}</div>
</div>
<div class="gup-file-manager-table-container">
  <gup-file-list
    [fileData]="sortedFiles"
    [disabled]="!ready || loading"
    [sortField]="fileManager.sortField"
    [sortOrder]="fileManager.sortOrder"
    [columnOrder]="columnOrder"
    (changeSort)="fileManager.changeSort($event)"
    (moveHeaderFromTo)="fileManager.changeColumnOrder($event[0], $event[1])"
  ></gup-file-list>
</div>
