<div class="gup-file-manager-header">
  <menu type="toolbar" role="toolbar" class="gup-file-manager-toolbar">
    <li>
      <button (click)="refresh()" [disabled]="!ready || loading">
        Refresh
      </button>
    </li>
    <li>
      <button (click)="uploadForm.open()">Upload</button>
    </li>
  </menu>
  <div *ngIf="fileManager.errorMessage" class="gup-file-manager-message">
    {{ fileManager.errorMessage }}
  </div>
</div>

<div class="gup-file-manager-table-container">
  <gup-file-list
    [fileData]="sortedFiles"
    [disabled]="!ready || loading"
    [sortField]="fileManager.sortField"
    [sortOrder]="fileManager.sortOrder"
    [columnOrder]="columnOrder"
    [publicRoot]="fileManager.publicRoot"
    (changeSort)="fileManager.changeSort($event)"
    (moveHeaderFromTo)="fileManager.changeColumnOrder($event[0], $event[1])"
  ></gup-file-list>
</div>

<gup-upload-form
  #uploadForm
  (fileSubmit)="onFileSubmit($event)"
  (urlSubmit)="onUrlSubmit($event)"
></gup-upload-form>
