/* You can add global styles to this file, and also import other style files */

@use 'style/font';
@use 'style/color';
@use 'style/shims';
@use 'style/theme';

@include color.global;
@include font.global;
@include shims.global;
@include theme.global;

html {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);

  color: var(--primary-color);
  background: var(--background-color);
}
