<div *ngIf="ready">
  <h3>Debug</h3>
  <section name="KeyStore">
    <h4>KeyStore</h4>
    <dl>
      <ng-container *ngFor="let prop of keyStoreProps">
        <dt>
          {{ prop }}
          <button (click)="keyStoreClear(prop)">X</button>
        </dt>
        <dd>
          <code>{{ keyStoreGet(prop) }}</code>
        </dd>
      </ng-container>
    </dl>
  </section>

  <section name="AuthService">
    <h4>AuthService</h4>
    <dl>
      <dt>_credentials</dt>
      <dd>
        <code>{{ authCredentialsStr }}</code>
      </dd>
    </dl>
    <div>
      <button (click)="authNoCredentials()">noCredentials()</button>
      <aside>Calls noCredentialsCallback on the credentials.</aside>
    </div>
  </section>

  <section name="ApiAuthService">
    <h4>ApiAuthService</h4>
    <div>
      <button (click)="apiAuthGetId(providerI, tokenI, identityPoolI)">
        getId(identityPool, {{ "{" }} provider: token })
      </button>
      <aside>Hit the AWS CogntioIdentity endpoint for getId</aside>

      <div>
        <label for="provider-input">provider</label>
        <input id="provider-input" #providerI />
      </div>
      <div>
        <label for="token-input">token</label>
        <input id="token-input" #tokenI />
      </div>
      <div>
        <label for="identityPool-input">identityPool</label>
        <input
          id="identityPool-input"
          #identityPoolI
          [placeholder]="apiAuth.defaultIdentityPool"
        />
      </div>
      <div *ngIf="getIdResponse">
        Response:
        <label for="gIR-success">Success?</label>
        <input type="checkbox" disabled [checked]="getIdResponseSuccess" />
        <code>{{ getIdResponse }}</code>
      </div>
    </div>
  </section>

  <section>
    <h4>OAuthProviderService</h4>
    <dl>
      <ng-container *ngFor="let prop of ['name', 'lastCallback']">
        <dt>
          {{ prop }}
        </dt>
        <dd>
          <code>
            <pre>{{ oauthProviderGet(prop) }}</pre>
          </code>
        </dd>
      </ng-container>
    </dl>
    <div>
      <button (click)="oauthProvider.generateNewState()">
        generateNewState()
      </button>
    </div>
  </section>

  <section>
    <h4>ApiService</h4>
    <div>
      <button (click)="apiListBucket(bucketI, prefixI)">
        listBucket(bucket, prefix))
      </button>
      <aside>Hit the AWS S3 endpoint for the given bucket</aside>

      <div>
        <label for="bucket-input">bucket</label>
        <input id="bucket-input" #bucketI [placeholder]="apiBucket" />
      </div>
      <div>
        <label for="prefix-input">prefix</label>
        <input id="prefix-input" #prefixI [placeholder]="apiPrefix" />
      </div>
      <div *ngIf="getS3ListResponse">
        Response:
        <label for="gIR-success">Success?</label>
        <input type="checkbox" disabled [checked]="getS3ListResponseSuccess" />
        <code>{{ getS3ListResponse }}</code>
      </div>
    </div>
  </section>
</div>
