:host {
  & > div {
    border: solid 2px gray;

    & > section {
      border: solid 1px gray;

      dl {
        dd {
          overflow-x: auto;
        }
      }
    }
  }
}

code,
pre {
  font-family: var(--main-font-family);
  color: var(--secondary-color);
}

aside {
  display: inline;
  &::before {
    content: "NOTE";
    cursor: pointer;
    appearance: square-button;
    visibility: visible;
    margin-right: 5px;
  }

  &:not(:hover) {
    display: inline;
    visibility: collapse;
  }

  &:hover {
    //display: block;
    visibility: visible;
  }
}
